html, body{
	height=100%;
}

body{
	font-family: arial, sans-serif;
	font-size: 12px;
	width:100%; 
	text-align:center; 
	margin: 0 auto -4em;

}

input {
		display: block;
		margin: auto;
		width: 570px;
		height: 30px;
		border: 1px solid #D8D8D8;
		background: url('https://dl.dropboxusercontent.com/s/9teor2pox0x4dar/microphone.png') no-repeat;
		background-size: 24px;
		background-position: 99.5% 50%;
	}
a{
		color: #404040;
		text-decoration: none;
		font-size: 14px;
}

a:hover {
		text-decoration: underline;
	}

 #google_search_button:hover{
	box-shadow: 1px 1px 5px #888888;
	}

 #feeling_lucky_button:hover{
	box-shadow: 1px 1px 5px #888888;
	}

.main {
	/*height: 660px;*/
	height=100%;
	margin: 0 auto -4em;
	width:800px;
	/*display: inline-block; */
	position: center;
}

#top-wrapper {
	height: 40px;
	width: 100%;
	padding-top: 15px;
	text-align: right;
	vertical-align: middle;
}

#center-section{
	min-height: 300px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.footer-wrapper {
	top-border: 2px dotted #404040;
    height: 30px;
	height: auto !important;
    border-top: 1px solid #D8D8D8;
    min-height: 100%;
	height: auto !important;
	margin: 0 auto -4em; 

	/* from thinkful guy
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #F2F2F2;
	height: 37px;
	border-top: 1px solid #E6E6E6;
	min-width: 950px; */
 }
#google-logo{
		display:block;
		margin: auto;
		width: 270px;
		height: 95px;
		margin-top: 140px;
		margin-bottom: 25px;
 	}

.google_search_bar{
		vertical-align: middle;
		position: auto 0px;
		width:100%; 
		text-align:center; 
		height:50px; 
 }

 #google_search_button {
  	font-size: 12px;
  	width: 100px;
  	height: 25px;
  	font-weight: bold;
  	vertical-align: middle;
  	border: 1px dotted gray;
  	display: inline;
  	padding: 5px;
  	border: 1px solid #D8D8D8;
	/*box-shadow: 10px 10px 5px #888888; */
 }
 #g_search_space_2 {

  	width: 20px;
  	height: 30px;
  	display: inline-block;
 }
  #feeling_lucky_button {

	font-size: 12px;
	font-weight: bold;
	padding: 5px;
  	border: 1px line red;
  	display: inline;
  	vertical-align: middle;
  	border: 1px solid #D8D8D8;
  	/*box-shadow: 10px 10px 5px #888888; */

 }



.gb_a {
 		color: black;
		display: inline;
		line-height: 24px;
		outline: none;
		vertical-align: middle;
 }
.gb_b {
		padding-left: 15px;
		display:inline;
		margin: auto;
		width: 22px;
		height: 22px;
		vertical-align: middle;

 }
.gb_d{
 		height: 30px;
 		width: 70px;
 		border-color: #4285f4;
 		border-style: solid;
 		border-radius: 4px;
 		background-color: #4285f4;
 		color: rgb(224,229,233);
 		font-size: 15px;
 		padding: 5 15 5 15;
	}
.gb_e{
	
		margin: 0 auto;
	  	width: 20px;
	  	height: 20px;
	  	vertical-align: middle;
	  	background-color: none;
	  	display: inline-block;

	}

.gf_a{
		text-align: left;
		margin:auto;
	 	color: black;
		display: inline;
		line-height: 24px;
		outline: none;
		vertical-align: middle;

	}
.gf_b {
		padding-left: 15px;
		display:inline;
		margin: auto;
		width: 2px;
		height: 22px;
		vertical-align: middle;

	}

.gf_c{
		text-align: right;
		margin:auto;
	 	color: black;
		display: inline;
		line-height: 24px;
		outline: none;
		vertical-align: middle;
	}
.gf_center{
	
	margin: 0 auto;
  	width: 50%;
  	height: 20px;
  	background-color: none;
  	display: inline-block;

	}
